$color-black : #1c1c1b;
$color-white : #fff;
$color-smoke-white : #f1f1f1;
$color-light-gray : #eee;
$color-dark-gray : #666;
$color-smoke-gray : #8c8c8c;
$color-red : #ff430c;
$color-primary : #e7d4bc;

@mixin flex-center(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin max-width($max-w){
    max-width: $max-w;
}
@mixin position-ab(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@mixin clear-both(){
   content: '';
   display: block;
   clear: both;
}
@mixin transition($transition...) {
    transition: $transition;
    -webkit-transition: $transition;  
    -moz-transition: $transition;     
    -o-transition: $transition;       
}